/* .HomePage{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color:#fff;
    align-items: center;
}

.HomepageImg{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
} */

/* .toRent, .toReturn, .toSearch{
    height: 10%;
    width: 15%;
    display: flex;
    position: absolute;
    top: 30%;
    left: 85%;
    transform: translate(-85%, -50%);
    text-align: center;
}

.toReturn{
    top: 50%;
}

.toSearch{
    background-color: #c159b7;
    border-radius: 4px;
    top: 70%;
} */