.Lishin, .ShinGuan{   
    height: 10%;
    width: 15%;
    /* border-radius: 20px; */
    /* background-color: #6e8be1; */
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    /* text-align: center;
    line-height: 50%;
    font-size: 1rem; */
}

.ShinGuan{
    left: 70%;
    /* background-color: rgb(231, 159, 195); */
}