body {
    height: 100%;
}

.App {
    display: "flex";
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.Header{
    width: 100%;
    height: 10vh;
    background-color: bisque;
}

.Footer{
    width: 100%;
    height: 10vh;
    background-color: bisque;
}
